h1{
    text-align: center;
    font-weight: bold;
    color: #dce3ea;
}

h2{
    font-weight: bold;
    color: #dce3ea;
    padding-top: 50px;
}

section{
    align-content: center;

}

p{
    text-align: center;
    font-family: "Arial Black";
    color: #dce3ea;
}

.my-content{
    height: 2000px;
    width: 1800px;
    background-image: linear-gradient(-45deg,#8d0dea,#e411ea,#ea2436,#ead718);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 8px solid #3f3f3f;
    border-radius: 100px;
}

.wr {
    width: 350px;
    height: auto;
    align-content: center;
    display: block;
    margin: auto;
    padding-top: 50px;

}

.badge{

}

